<header>
  <nav class="navbar">
    <div class="logo">
      <img src="/assets/img/logo.png" alt="Logo Neologicon" class="logo-img">
      <span>paleb</span>
    </div>
    <button class="hamburger" aria-label="Menu">☰</button>
    <ul class="nav-links">
      <li><a href="#" data-link="index">Accueil</a></li>
      <li><a href="#" data-link="glossaire">Glossaire</a></li>
      <li><a href="#" data-link="animaginaux">Animaginaux</a></li>
      <li><a href="#" data-link="legendes">Légendes</a></li>
      <li><a href="#" data-link="contact">Contact</a></li>
    </ul>
  </nav>
</header>
